* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(1fr 1fr 1fr);
    align-items: start;
    gap: 10px 40px;
    grid-template-areas:
      "tasklist stopwatch"
      "tasklist pomodoro"
      "tasklist music";
}
#home h1{
    margin-bottom: 5px;
}
#tasklist { 
    grid-area: tasklist; 
    background-color: #6699D4; 
    border-radius: 20px;
}
#tasklist h3{ 
    margin: 20px;
    color: white;
    display: inline-flex;
    align-items: center;
}

#tasklist p{ 
    padding: 5px 20px;
    margin: 0px;
}

#tasklist li {
    list-style: none; 
}

#tasklist li button {
    margin: 10px 20px;
}

#openButton {
    background-color: white;
    font-size: 20px;
    color: #6699D4;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px;
}

#taskscroll {
    margin: 0px 20px 20px;
    border-radius: 20px;
    background-color: white; 
    width: 500px;
    height: 420px;
    overflow: scroll;
}

#stopwatch { 
    grid-area: stopwatch;
    background-color: #DEDEDE;
    border-radius: 20px; 
}

#pomodoro { 
    grid-area: pomodoro;
    background-color: #3AA26D;
    border-radius: 20px;
}
#music { 
    grid-area: music;
}

#music iframe{ 
    width: 550px; 
    height: 230px;  
    border: none;
    border-radius: 20px;
}



  
