* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 40px;
    grid-template-areas:
      "tasklist stopwatch"
      "tasklist pomodoro"
      "tasklist music";
}
#tasklist { 
    grid-area: tasklist; 
    background-color: #6699D4; 
    border-radius: 20px;
}

#stopwatch { 
    grid-area: stopwatch;
    background-color: #DEDEDE;
    border-radius: 20px;
    
}
#pomodoro { 
    grid-area: pomodoro;
    background-color: #3AA26D;
    border-radius: 20px;
    
}
#music { 
    grid-area: music;
}

#music iframe{ 
    border-radius: 20px;
}


  
