
#myboard h1{
    display: inline-flex;
    align-items: center;
}
#addButton {
    background-color: #6699D4;
    font-size: 30px;
    color: white;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    margin: 15px;
}