#myboard h1{
  display: inline-flex;
  align-items: center;
}
#addButton {
  background-color: #6699D4;
  font-size: 30px;
  color: white;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  margin: 15px;
}

#toDoList {
  background: #6699D4;
  border-radius: 20px;
  width: 350px;
  margin: 0px 10px;
  display: table;
}

#theboards {
  display: flex;
  overflow: auto;
  height: 80vh;
}

#theboards li{
  list-style-type: none;
  background: #6699D4;
  border-radius: 20px;
  width: 350px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#theboards h3{
  margin: 0px;
  padding: 20px;
  color: white; 
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
}

#addBtn {
  background-color: white;
  font-size: 20px;
  color: #6699D4;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  margin: 10px;
}
#k-task {
  color: white;
  padding: 5px 20px;
}

#newColumn {
  display: flex;
  align-items: flex-start;
}

#newColumn li button{
  color: white;
  margin: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  #myboard h1 {
    display: inline-flex;
    align-items: flex-end;
}
  #theboards {
    display: contents;
  }

}