nav {
    width: 120px;
    height: 100vh;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    
    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 5em 0em 30em 0em;
        .nav-item a {
            display: block;
            padding: 0.5em;
            text-decoration: none;
            color: #CACED2;
            &:hover {
                background-color: #C6F1DB;
                border-radius: 0.5em;
                color: #3AA26D;
            }
            &.active {
                color: #3AA26D;
            }
        }
    }
}
