.open-button {
    background-color: #6699D4;
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 23px;
    right: 28px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
    
  .btn-cancel{
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #DEDEDE;
    border-radius: 20px;
  }
  .form-container h3{
    margin: 5px 0px 5px 0px;
  }
  .form-container input {
    border: none;
    border-radius: 5px;
    margin: 2px;
    outline: none;
  }
  .form-container select {
    border: none;
    border-radius: 5px;
    margin: 2px;
    outline: none;
  } 
  .form-container .submit{
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    margin: 10px 10px 0px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }